.custom-nav{
  /* min-height: calc(100vh - 82vh); */
  height: 120px;
  background-color: rgba(0,0,0,.15) !important;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  margin-left: 0 !important;
  margin-right: 0 !important;
  /* Flexbox stuff */
  display: flex;
  align-items: center;
  /* Text styles */
  color: white;
  background-image: url('./../../images/Image_1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-card{
  background-color: rgb(53, 62, 74);
  opacity: 0.7;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  float: left;
  margin: 0% 2% 9% 2%;
}

.custom-hr{
  border-top: 2px solid rgba(0,0,0,.1);
}

.card{
    width: 40%;
    float: left;
    display: inline-block;
    margin: 4%;
  }
.card-text{
  text-align: justify;
}
  
  .left-services{
    float: left;
    width: 50%;
  }
  
  .right-services{
    float: left;
    width: 50%;
  }
  
  .all-services{
    width: 90%;
    margin: 3% auto;
  }

  .service-li{
    padding: 3%;
    list-style-type: none;
    /* font-size: 2vw; */
    font-weight: 400;
  }
  
  .service-heading{
    text-align: center;
    font-weight: 400;
  }

  .img-icon{
    width: 40px;
    height: 40px;
  }

  .brand-icon{
    width: 170px;
    height: 115px;
  }

  .service {
    margin: 18px 15px;
    font-weight: 600;
    position: absolute;
  }

  .Landing{
    top: 150px;

  }

  .Landing-Container{
    background-color: #f8f9fa !important;
    
  }

  .footer{
    height: 100px !important;
    background-color: rgba(0,0,0,.15) !important;
  }


  @media (min-width: 576px) and (max-width: 768px) { 
    .all-services{
      width: 60%;
      margin: 3% auto;
    }
   }